@charset "UTF-8";

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: "Roboto";
  background: #e5e5e5;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.area {
  position: inherit;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

h2 {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin: 100px 0 40px 0;
}

h4 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-top: 20px;
}

h5 {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 80px;
}

img {
  margin: 50px auto;
}

.price {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 30px 0;
}

.result {
  text-align: left;
  margin-top: 0;
  position: relative;
  z-index: 1;
}

.result span {
  color: red;
}

button {
  display: block;
  width: 306px;
  height: 57px;
  background: #2cc34f;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1150px;
  margin: 0 auto;
}

ul li {
  width: 366px;
  height: 758px;
  background: #ffffff;
  padding: 30px;
  margin-bottom: 111px;
}

.bg {
  height: 136px;
  width: 100%;
  position: absolute;
  top: 1126px;
  left: 0px;
  background: #ffffff;
}

.back {
  background-color: #0c902b;
  font-size: 18px;
  line-height: 21px;
}